<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña - Royal Crumbs</title>
  <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
  <div class="container">
    <img src="/static/img/logo.png" alt="Royal Crumbs Logo" class="logo">
    <h2>Recuperar Contraseña</h2>

    <form>
      <input type="email" placeholder="Correo Electrónico" required>
      <button type="submit">Recuperar Contraseña</button>
      <a href="/login">Volver al inicio de Sesión</a>
    </form>
  </div>
</body>
</html>
